<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tombo Chat</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header></header>
    <main role="main">
      <%= render(@view_module, @view_template, assigns) %>
      <br/>
      <%= case get_flash(@conn) do %>
        <% %{"info" => message} -> %>
          <article class="message is-info">
            <div class="message-body" role="alert"><%= message %></div>
          </article>
        <% %{"error" => message} -> %>
          <article class="message is-danger">
            <div class="message-body" role="alert"><%= message %></div>
          </article>
        <% _ -> %><%= nil %>
      <% end %>
    </main>
    <footer></footer>
  </body>
</html>