<p>
  <%= link "Activate account", to: Routes.account_activation_url(
                                     TomboChatWeb.Endpoint,
                                     :edit,
                                     @user.activation_token,
                                     email: @user.email) %>
</p>
